h1{
font-size: 30px;
text-align: center;
color: #de7471;
text-decoration: underline;
font-weight: bold;
}

h2{
text-decoration: underline;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: white;
color: black;
}